@use "theme" as *;

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 5rem;
}

.pagination {
  overflow: hidden;
  font-family: $font-family;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: $light-gray-color;
  border: 1px solid $pagination-button-color;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: $link-color;
}

.pagination-active:hover {
  background-color: $pagination-button-color;
}

@media (max-width: $container-responsive-width) {
  .posts-container {
    grid-template-columns: 1fr;
  }
}
